<div style="margin: 20px;">
    <h1 class="text-white">{{cat}}</h1>
    <div class="scrollable-div" >
    {% for article in articles %}
        <div class="card bg-dark" >
            <div class="card-header">
                <h5 class="text-light text-green">{{ article.source.name }}</h5>
                <h6 class="text-muted">{{ article.author }}</h6>
            </div>
            <div class="card-body text-white">
                <h4 class="text-light">{{ article.title }}</h4>
                <p>{{ article.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ article.url }}" class="text-info">Read More</a>
                <a href="" class="text-warning">Bookmark</a> 
            </div>
        </div>
    {% endfor %}
</div>